/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg-color) url('../assets/images/Background Pikisuperstar.jpg') no-repeat
    center center fixed;
  background-size: cover;
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}
